@import "/home/zach/.cache/wal/colors.scss"

.theme-menu, .theme-creator-menu{
  background-color: $color0;
  border-radius: 5px;
  padding: 5px;
}



.theme-button {
  background-color: orange;
  text-shadow: 0 0 7px $color1;
  color: $color11;
  font-size: 16px;
}

.image, .theme-creator-background{
  padding: 5px;
}

.theme-label, .label{
  color: $color11;
  text-shadow: 0 0 7px $color1;
  font-size: 32;
}
