* {{
	background-image: none;
	box-shadow: none;
}}

window {{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("{wallpaper}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}}

button {{
  border-radius: 10px;
  margin: 10px;
  opacity: 0.8;
  /* border in between buttons */
  border: 1px solid {cursor};
  color: {color11};
  text-shadow: 0 0 4px {color11};
	background-color: {background};

  font-size: 32px;

  /* used for the images (the icons in the center), no touch */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}}

button:active, button:hover {{
	background-color: {color1};
	outline-style: none;
  opacity: 1;
}}

#logout {{
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}}

#suspend {{
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}}

#shutdown {{
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}}

#reboot {{
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}}
